<li>
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-primary">
        <div class="card-body">
          <h4 class="card-title"><span>Document No.: {{duplicateInvoice.documentNo}}</span></h4>
          <div>
            <span>Document Date: {{duplicateInvoice.documentDate | formatDate:'YYYY/MM/DD'}}</span>
          </div>
          <div>
            <span>Payee: {{duplicateInvoice.payee}}</span>
          </div>
          <div>
            <span>Application Nos: {{duplicateInvoice.applicationNos}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>