<li>
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-primary">
        <div class="card-body">
          <h4 class="card-title"><span>Application No.: {{duplicateInvoice.applicationNo}}</span></h4>
          <div>
            <span>Application Date: {{duplicateInvoice.applicationDate | formatDate:'YYYY/MM/DD'}}</span>
          </div>
          <div>
            <span>Payee: {{duplicateInvoice.payee}}</span>
          </div>
          <div>
            <span>Status: {{duplicateInvoice.status}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>