<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center">{{title}}</h1>
    <div class="text-center">
      <app-loader>Loading...</app-loader>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form" novalidate [formGroup]="configForm">
          <div *ngIf="invalidConfig" class="alert alert-danger">Invalid Configuration.</div>
          <div class="form-group ">
            <label>Operation Condition</label>
            <select class="form-control" formControlName="operationCondition">
              <option *ngFor="let operationCondition of operationConditions" [ngValue]="operationCondition">
                {{operationCondition.key}}
              </option>
            </select>
          </div>
          <div class="form-group ">
            <label>Authentication Url</label>
            <input type="authenticationUrl" class="form-control" formControlName="authenticationUrl" autocomplete="new-authenticationUrl">
            <div *ngIf="authenticationUrl.invalid && (authenticationUrl.dirty || authenticationUrl.touched)" class="alert alert-danger">
              <div *ngIf="authenticationUrl.errors.required">
                This field is mandatory.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Expenses Url</label>
            <input type="text" class="form-control" formControlName="expensesUrl">
            <div *ngIf="expensesUrl.invalid && (expensesUrl.dirty || expensesUrl.touched)" class="alert alert-danger">
              <div *ngIf="expensesUrl.errors.required">
                This field is mandatory.
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary" (click)="config(configForm.value)" [disabled]="!configForm.valid">Save</button>
        </form>
      </div>
      <!--div class="col-md-12">
        <label>
          <strong>Config Form</strong>
        </label>
        <pre class="alert alert-dark">{{configForm.value | json}}</pre>
      </div-->
    </div>
  </div>
</div>