<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center">{{title}}</h1>
    <div class="text-center">
      <app-loader>Loading...</app-loader>
    </div>
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" novalidate [formGroup]="searchForm">
          <div class="form-group">
            <label>Date</label>
            <!--input type="text" class="form-control" formControlName="date"-->
            <mat-form-field>
              <input matInput [matDatepicker]="datePicker" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
              <mat-datepicker #datePicker></mat-datepicker>
            </mat-form-field>
          </div>
          <button type="submit" class="btn btn-primary" (click)="search(searchForm.value)">Search</button>
        </form>
      </div>
      <!--div class="col-md-12">
        <label>
          <strong>Search Form</strong>
        </label>
        <pre class="alert alert-dark">{{searchForm.value | json}}</pre>
      </div-->
      <div class="col-md-12">
        <div class="card bg-secondary text-white" *ngIf="exportList.length !== 0">
          <div class="card-body">
            <h4 class="card-title">Export Items</h4>
            <ul>
              <app-export-item [exportItem]="exportItem" (clicked)="clickItem($event)" *ngFor="let exportItem of exportList"></app-export-item>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>