<li>
  <div class="row">
    <div class="card bg-primary col-md-11">
      <div class="card-body">
        <h4 class="card-title"><span>Seq No.: {{exportItem.id}}</span></h4>
        <div>
          <span>Date: {{exportItem.date}}</span>
        </div>
        <div>
          <span>Batch No.: {{exportItem.batchNo}}</span>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <button class="btn" type="button" (click)="click($event)">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
</li>