<div class="card">
  <div class="card-body">
    <h1 class="card-title text-center">{{title}}</h1>
    <div class="row">
      <div class="col-md-12">
        <form class="form-inline" novalidate [formGroup]="searchForm">
          <div class="form-group">
            <label>Application Date</label>
            <input type="text" class="form-control" formControlName="applicationDate">
          </div>
          <div class="form-group">
            <label>Application No.</label>
            <input type="text" class="form-control" formControlName="applicationNo">
          </div>
          <div class="form-group ">
            <label>Payee</label>
            <input type="text" class="form-control" formControlName="payee">
          </div>
          <button type="submit" class="btn btn-primary" (click)="search(searchForm.value)">Search</button>
        </form>
      </div>
      <!--div class="col-md-12">
        <label>
          <strong>Search Form</strong>
        </label>
        <pre class="alert alert-dark">{{searchForm.value | json}}</pre>
      </div-->
    </div>
    <div class="card bg-secondary text-white" *ngIf="expenses.length !== 0">
      <div class="card-body">
        <h4 class="card-title">Expense Items</h4>
        <ul>
          <app-expense-item [expense]="expense" (clicked)="clickItem($event)" *ngFor="let expense of expenses"></app-expense-item>
        </ul>
        <div class="text-center">
          <button type="button" class="btn btn-success" (click)="export()">Export</button>
        </div>
      </div>
    </div>
  </div>
</div>